* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin-top: 60px;
    color: lightcoral;
    font-family: sans-serif;
}
.monkey1 {
    width: 155px;
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
    display: block;
}
.monkey2 {
    width: 190px;
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
}